In [1]:
import pandas as pd
df = pd.read_csv('data/survey_results_public.csv')

In [6]:
df.describe()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,88883.000000,5.594500e+04,5.582300e+04,64503.000000,49790.000000,79210.000000
mean,44442.000000,5.519014e+11,1.271107e+05,42.127197,5.084308,30.336699
std,25658.456325,7.331926e+13,2.841523e+05,37.287610,5.513931,9.178390
min,1.000000,0.000000e+00,0.000000e+00,1.000000,0.000000,1.000000
25%,22221.500000,2.000000e+04,2.577750e+04,40.000000,2.000000,24.000000
50%,44442.000000,6.200000e+04,5.728700e+04,40.000000,4.000000,29.000000
75%,66662.500000,1.200000e+05,1.000000e+05,44.750000,6.000000,35.000000
max,88883.000000,1.000000e+16,2.000000e+06,4850.000000,99.000000,99.000000

In [7]:
df.describe().loc['50%']

Respondent       44442.0
CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
Name: 50%, dtype: float64

In [2]:
country_grp = df.groupby(['Country'])

In [3]:
country_grp.get_group('United States')

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
12,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
21,22,I am a developer by profession,Yes,Less than once per year,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,47.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
22,23,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Tech...,22.0,Man,No,Straight / Heterosexual,Black or of African descent,No,Appropriate in length,Easy
25,26,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,34.0,Man,No,Gay or Lesbian,NaN,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88818,78292,NaN,No,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...","Independent contractor, freelancer, or self-em...",United States,No,"Other doctoral degree (Ph.D, Ed.D., etc.)","A health science (ex. nursing, pharmacy, radio...",...,Somewhat less welcome now than last year,NaN,60.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Too long,Neither easy nor difficult
88840,82717,NaN,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",United States,No,"Secondary school (e.g. American high school, G...",NaN,...,NaN,Industry news about technologies you're intere...,44.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Neither easy nor difficult
88844,83397,NaN,Yes,Less than once per year,NaN,"Not employed, but looking for work",United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,27.0,Woman,No,Bisexual,White or of European descent,No,Appropriate in length,Easy
88859,85642,NaN,No,Less than once per year,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",United States,No,Associate degree,"Information systems, information technology, o...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,34.0,"Non-binary, genderqueer, or gender non-conforming",NaN,Bisexual;Gay or Lesbian,White or of European descent,No,Appropriate in length,Easy
88877,88282,NaN,Yes,Once a month or more often,The quality of OSS and closed source software ...,"Not employed, but looking for work",United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,Man,No,Straight / Heterosexual,NaN,No,Too short,Neither easy nor difficult

In [12]:
country_grp['SocialMedia'].value_counts(normalize=True).head(50) #this is a series with two indexes

Country              SocialMedia
Afghanistan          Facebook                    0.405405
                     YouTube                     0.243243
                     I don't use social media    0.162162
                     WhatsApp                    0.108108
                     Instagram                   0.027027
                     LinkedIn                    0.027027
                     Twitter                     0.027027
Albania              WhatsApp                    0.214286
                     Facebook                    0.190476
                     Instagram                   0.154762
                     YouTube                     0.119048
                     Twitter                     0.095238
                     LinkedIn                    0.083333
                     Reddit                      0.071429
                     I don't use social media    0.047619
                     Snapchat                    0.011905
                     WeChat 微信                   0.011905
Algeria              YouTube                     0.338710
                     Facebook                    0.330645
                     Twitter                     0.112903
                     LinkedIn                    0.072581
                     I don't use social media    0.056452
                     Instagram                   0.056452
                     Reddit                      0.016129
                     WhatsApp                    0.016129
Andorra              Facebook                    0.285714
                     I don't use social media    0.285714
                     Reddit                      0.142857
                     Snapchat                    0.142857
                     YouTube                     0.142857
Angola               Twitter                     0.500000
                     Facebook                    0.250000
                     YouTube                     0.250000
Antigua and Barbuda  YouTube                     0.333333
                     Facebook                    0.166667
                     Instagram                   0.166667
                     Twitter                     0.166667
                     VK ВКонта́кте               0.166667
Argentina            WhatsApp                    0.381132
                     Twitter                     0.150943
                     YouTube                     0.116981
                     Instagram                   0.100000
                     Reddit                      0.094340
                     Facebook                    0.084906
                     I don't use social media    0.041509
                     LinkedIn                    0.030189
Armenia              Facebook                    0.469136
                     YouTube                     0.283951
                     LinkedIn                    0.061728
                     Instagram                   0.037037
Name: SocialMedia, dtype: float64

In [15]:
country_grp['ConvertedComp'].agg(['mean', 'median'])

                                               mean    median
Country
Afghanistan                           101953.333333    6222.0
Albania                                21833.700000   10818.0
Algeria                                34924.047619    7878.0
Andorra                               160931.000000  160931.0
Angola                                  7764.000000    7764.0
...                                             ...       ...
Venezuela, Bolivarian Republic of...   14581.627907    6384.0
Viet Nam                               17233.436782   11892.0
Yemen                                  16909.166667   11940.0
Zambia                                 10075.375000    5040.0
Zimbabwe                               34046.666667   19200.0

[179 rows x 2 columns]

In [5]:
# How many people use Python in each country, without 'sum' you will get a very different result
nbr_of_python_users = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
nbr_of_python_users

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [8]:
nbr_of_people_country = df['Country'].value_counts()
nbr_of_people_country

United States            20949
India                     9061
Germany                   5866
United Kingdom            5737
Canada                    3395
                         ...
North Korea                  1
Brunei Darussalam            1
Sao Tome and Principe        1
Saint Kitts and Nevis        1
Chad                         1
Name: Country, Length: 179, dtype: int64

In [17]:
python_df = pd.concat([nbr_of_people_country, nbr_of_python_users], axis='columns')
python_df.rename(columns={'Country': 'NbrOfParticipants', 'LanguageWorkedWith': 'NbrPythonUsers'}, inplace=True)
python_df['PctPythonUsers'] = (nbr_of_python_users / nbr_of_people_country) * 100
python_df

                       NbrOfParticipants  NbrPythonUsers  PctPythonUsers
United States                      20949           10083       48.131176
India                               9061            3105       34.267741
Germany                             5866            2451       41.783157
United Kingdom                      5737            2384       41.554820
Canada                              3395            1558       45.891016
...                                  ...             ...             ...
North Korea                            1               0        0.000000
Brunei Darussalam                      1               0        0.000000
Sao Tome and Principe                  1               1      100.000000
Saint Kitts and Nevis                  1               0        0.000000
Chad                                   1               0        0.000000

[179 rows x 3 columns]